/* body {
 background-image: url("binary.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
} */
/* .parent_div{
    display: flex;
    justify-content: center;
    margin-top: 10%;
} */

.parent_div {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  flex-direction: column;
}
.input_div{
    display: flex;
    flex-direction: column;
}

.hide{
  display: none;
}

.child_div{
  max-width: max-content;
  margin: auto;
}

h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #273c75; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .17em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #273c75; }
}

.welcome_heading {

  font-size: 50px;
}

.input_spcaes{
    margin: 10px 10px;
}

.tabs {
  justify-content: space-evenly;

}

.tabs a {
  flex: 2;
  text-align: center;
  
}

.tabs a:focus {
  outline: none;
}

.form {
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: center;
}

.form input,
.form select {
  width: 100%;
  padding: 15px;
  padding-left: 16px;
  font-size: 0.7rem;
  border: 1px solid #c8cacc;
  border-radius: 0;
  height: auto;
  line-height: 1.15;
  color: inherit;
  background: inherit;
}

.form input:hover,
.form select:hover {
  border: 1px solid #007bff;
}

.form input[type="button"] {
  height: 52px;
  border-radius: 26px;
  border: none;
  padding: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #273c75;
  color: #fff;
  border: 2px solid #273c75;
  width: 200px;
}

.form input[type="button"]:hover {
  color: #fff;
}

input {
  margin: 8px 8px;
  padding: 8px 8px;
  font-size: 16px;
  size: 16px;
}

.but{
    margin: auto;
}

.pass_reset_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

