.loader-gif{
    margin: auto;
    height: 400px;
    width: 400px;
}
.head{
    margin: auto;
    font-size: 3.7rem;
   letter-spacing: 5px;
}

@media (max-width:550px){
    .loader-gif{
        height: 250px;
        width: 250px;
    }
}