a:visited {
  color: black;
}

a:link {
  color: black;
}
:root {
  --Teal: #018786;
  --Cyan: #00bfa5;
  --Blue: #0336ff;
  --Blue2: #3700b3;
  --Orange: #ee6002;
  --Green: #00695c;
  --Purple: #6200ee;
  --Fuchsia: #b00020;
  --Magenta: #ff0266;
}
.parent {
  /* border: 2mm solid black; */
  margin: 10px 10px;
  position: relative;
}

.spin1 {
  width: 150px;
  height: 150px;
  border: 10px solid var(--Magenta);
  border-radius: 50%;
  border-left-color: #ddd;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin:"10px 10px";
}

.spin11 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin:"10px 10px";

  /* border: 0px solid var(--Cyan);
  font-size: 18px;
  animation-name: aspin;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes aspin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}